/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}
/* VARIABILI */
:root {
  --blocked: #00000062;
  --lighted: radial-gradient(circle, rgba(255, 245, 153, 1) 71%, rgba(255, 255, 255, 0.07) 100%);
}

/* === PAGINA INDEX === */

h1 {
  font-weight: bold;
  text-align: center;
}

#board,
#cartelle {
  display: inline-block;
}

#tabellone {
  max-width: 40%;
}
