@import url("https://fonts.googleapis.com/css2?family=Hurricane&family=Pacifico&display=swap");

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.hurricane-regular {
  font-family: "Hurricane", cursive;
  font-weight: 400;
  font-style: normal;
}

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  line-height: 1.6;
}
/* VARIABILI */
:root {
  --text: #2f385c;
  --bgRed: #e10000;
  --blocked: #ffffff62;
  --lighted: radial-gradient(circle, rgba(255, 251, 0, 1) 46%, rgba(255, 251, 0, 0.42) 100%);
}

/* === PAGINA INDEX === */

h1 {
  font-weight: bold;
  text-align: center;
  font-size: 4rem;
  padding: 1rem;
}

.container {
  font-size: 0;
  margin-top: 1rem;
}

/* === TABELLONE === */
#board {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  width: 52rem;
  /* height: 55rem; */
  padding: 1rem;
  border-radius: 30px;
  margin-inline: 2rem;
  background: var(--bgRed);
}

.cell {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  line-height: 3.8rem;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  border: 4px solid var(--text);
  border-radius: 10px;
  margin: 0.5rem;
}
.blocked {
  color: var(--text);
  background: var(--blocked);
}
.lighted {
  color: var(--text);
  background: var(--lighted);
}

/* === CARTELLE === */
#playerSide {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-inline: 2rem;
}
#cartelle {
  width: 50rem;
  height: 35rem;
  /* max-height: 30rem; */
  font-size: 16px;
  background-color: #85dbd3;
}

#controls {
  margin-top: 1rem;
}
#controls button {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  border: 3px solid var(--text);
  border-radius: 10px;
  color: var(--text);
  font-weight: bold;
  cursor: pointer;
}
#extraction {
  background: var(--lighted);
}
#reset {
  background: var(--bgRed);
}
#controls button:hover {
  background: var(--bgRed);
  color: white;
}
#controls button:active {
  transform: scale(0.95);
}
